@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-image: url('/images/Amin.jpg'); /* Use the correct URL */
    background-size: cover; /* Ensure the image covers the area */
    background-position: center; /* Center the image */
    position: fixed; /* Use fixed to cover the entire viewport */
    left: 0; /* Start from the left */
    top: 0; /* Start from the top */
    width: 100vw; /* Use viewport width */
    height: 100vh; /* Use viewport height */
    z-index: -1; /* Make sure it’s behind other content */
}
